.button {
	display: inline-flex;
	align-items: center;
	color:#ccc;
	background: linear-gradient(180deg, rgb(26, 26, 34) 1%, rgb(17, 17, 17) 99%);
	align-self: center;
	padding: 1vh 3vw;
	border-radius: 8px;
	border:1px solid rgb(88, 87, 104);
	height:auto !important;
	justify-content: center;
	font-weight: bold;
	font-size: 120%;
	text-shadow: 2px 2px 2px black;
	margin:2vh 1vw;
}
@media (max-width: 48rem) {
	.button {
		font-size:92% !important
}
}
.button:hover{
	color:#fff;
	box-shadow: 0 0px 12px #222;
}
.button.disabled {
	display: inline-flex;
	color:#fff !important;
	background: linear-gradient(180deg, rgb(34, 26, 32) 1%, #111 99%);
	border:1px solid rgb(104, 87, 102);
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
	background:#080808;
}